<!DOCTYPE html>
<html lang="en">
    <%- partial('_partial/head') %>
    <body class="has-background-light">
        <div class="container">
            <%- body %>
        </div>
    </body>
    <footer>
        <%- partial('_partial/footer') %>
    </footer>
    <%- partial('_partial/after-footer') %>
</html>