<!DOCTYPE html>
<html lang="en">
<!-- Head tag -->
<head>
<%- partial('_partial/head') %>
</head>
<body class="has-background-light">
    <div class="container">
        <%- body %>
    </div>
</body>
<%- partial('_partial/after-footer') %>
</html>