<%- partial('_partial/menu') %>
<section class="hero is-fullheight is-fullheight-with-navbar" style="margin-top:3.25rem">
  <div class="hero-body">
    <div class="box has-box-shadow" style="padding:0.9rem;margin-bottom: 0;">
      <div class="content">
        <br>
        <%- item.content %>
        <!-- Tags -->
        <%- partial('article-tags') %>
        <%- partial("_partial/comments.ejs") %>
      </div>
      <div class="content-footer">
        <!-- footer here -->
      </div>
    </div>
  </div>
</section>