
    <!-- Title -->
    <div class="column is-one-quarter-fullhd is-one-third-desktop is-one-third-tablet is-one-third-mobile is-gapless-mobile">   
        <div class="card work has-box-shadow">
            <figure class="image is-square">
                <a href="<%- config.root %><%- item.path %>">
                <img src="<%- item.cover_index || theme.default_cover_index %>" class="media" alt=""/>
                <div class="caption">
                    <div class="work_title">
                        <h1><%- item.title || theme.default_post_title || "Untitled" %></h1>
                    </div>
                </div>
                </a>
            </figure>
        </div>
    </div>