<%- partial('_partial/menu') %>
<section class="hero is-fullheight is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="content">
      <br>
      <%- item.content %>
      <!-- Tags -->
      <%- partial('article-tags') %>
      <%- partial("_partial/comments.ejs") %>
    </div>
    <div class="content-footer">
      <!-- footer here -->
    </div>
  </div>
</section>