<% var titlePrevious, titleNext %>
<nav class="pagination is-centered buttons" role="navigation" aria-label="pagination" style="margin-top:10px;justify-content: space-between">
  <% if (item.prev) {
    titlePrevious = item.prev.title || theme.default_post_title;
    titlePrevious = titlePrevious.length > 40 ? (titlePrevious.substring(0,40) + "...") : titlePrevious;
  %>
  <a href="<%- url_for(item.prev.path) %>" data-title="<%= titlePrevious %>" class="pagination-previous button is-light"><span class="icon"><i class="fas fa-angle-left"></i></i></span>&nbsp;Latest</a>
  <% } else { %>
    <a class="pagination-previous button is-light" title="This is the latest post" disabled><span class="icon"><i class="fas fa-angle-left"></i></i></span>&nbsp;Latest</a>
  <% } %>
  <% if (item.next) {
    titleNext = item.next.title || theme.default_post_title;
    titleNext = titleNext.length > 17 ? (titleNext.substring(0,17) + "...") : titleNext;
  %>
  <a href="<%- url_for(item.next.path) %>" data-title="<%= titleNext %>" class="pagination-next button is-light">Earlier&nbsp;<span class="icon"><i class="fas fa-angle-right"></i></span></a>
  <% } else { %>
    <a class="pagination-next button is-light" title="This is the very oldest post" disabled>Earlier&nbsp;<span class="icon"><i class="fas fa-angle-right"></i></a>
    <% } %>
 </nav> 
