<% if (item.tags && item.tags.length){ %>
<%
    var tags = [];
    item.tags.forEach(function(tag){
        tags.push('<a href="' + config.root + tag.path + '"><span class="tag is-medium is-white has-text-link"># ' + tag.name + '</span></a>');
    });
%>
    <%- tags.join(' ') %>

<% } %>