
<div class="hero" style="margin-top:20px; padding:30px 0;">
    <div class="content has-text-centered">
      <p>
        &copy; 2018-2019 <a href="https://www.aflasio.com">Aflasio</a><br>
        Powered by <a href="https://hexo.io">Hexo</a> and <a href="https://bulma.io">Bulma</a><br>
        Theme source code will upload soon
      </p>
    </div>
</div>