<div class="grid">
    <% if (item.photos.length){ %>
        <% item.photos.forEach(function(photo){ %>
            <div class="grid-sizer"></div>
            <div class="picture-container grid-item">
                <a href="<%- photo %>" data-fancybox="gallery">
                    <img src="<%- photo %>" class="img-thumbnail has-shadow-hover" alt="gallery"/>
                </a>
            </div>
        <% }); %>
    <% } %>
</div>