<ul class="grid effect-8" id="grid" style="margin: 0">
    <% if (item.photos.length){ %>
        <% item.photos.forEach(function(photo){ %>
            <li>
                <a href="<%- photo %>" data-fancybox="gallery">
                    <img src="<%- photo %>" class="img-thumbnail has-shadow-hover" alt="gallery"/>
                </a>
            </li>
        <% }); %>
    <% } %>
</ul>