<section class="hero is-medium">
  <div class="hero-body has-text-centered">
    <img class="is-circle" src="<%= url_for(theme.logo) %>" width="128" height="128" alt="">
    <h1 class="title"> <%= config.title %> </h1>
    <h2 class="subtitle"> <% if (config.subtitle){ %><%= config.subtitle %><% } %> </h2>
  </div>
</section>
