<div class="hero">
    <div class="hero-body has-text-centered">
    <%- partial('_partial/header') %>
        <ul class="grid effect-8 main" id="grid">
            <% page.posts.each(function(item){ %>
                <%- partial('_partial/artwork-list', {item: item}) %>
            <% }); %>
        </ul>
        <%- partial('_partial/pagination') %>
    </div>
</div>