<div class="lisence">
    <%- ('<b>Author:</b> <a href="/about">Sira Argia</a><br><b>Lisence:</b> All artwork in this blog are licensed under <a href="http://creativecommons.org/licenses/by-nc/4.0/"><input type="image" src="/img/lisence.png" alt="lisence"/></a>') %>
</div>